################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyAdmin/.vs/MyAdmin/v15/Server/sqlite3/storage.ide-wal
/MyAdmin/.vs/MyAdmin/v15/Server/sqlite3/storage.ide-shm
/MyAdmin/.vs/MyAdmin/v15/Server/sqlite3/storage.ide
/MyAdmin/.vs/MyAdmin/v15/Server/sqlite3/db.lock
/MyAdmin/.vs/MyAdmin/v15/.suo
/MyAdmin/.vs/config/applicationhost.config
